body {
    font-family:sans-serif;  
}

.container {
  display: flex;  
  justify-content: space-between; 
  align-items: center;
  background-color:hsl(215, 28%, 17%);
  margin: -10px;
  padding: 10px;
}

.header {
    margin-left: 200px;
    font-size: 24px;
    color: #f9faf8;
}

ul {
    display:flex; 
    list-style-type: none;
    margin-right: 200px;
    font-size: 18px;    
}

li {
    padding-left: 25px;
    padding-right: 25px;   
}

a {
    text-decoration: none;
    color:#e5e7eb;
}

.hero {
    display: flex;
    justify-content:space-between; 
    align-items: center;
    margin-top: 10px;
    margin-left: -10px;
    margin-right: -10px;
    height: 500px;
    background-color: #219ebc; 
}

.img-dark {
    width: 500px;
    height: 300px;
    margin-top: 10px;
    margin-right: 350px;
}

.hero-left-side {
    display: flex;
    margin-left: 350px;
    flex-direction: column;
    max-width: 375px;    
}

button {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: #1f2937;
    background-color: #1f2937;
    color:#f9faf8; 
    font-weight: bolder;   
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin-bottom: 0px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    flex-direction: row;
    justify-content: end;
    display: flex;
}

h3 {
    font-size: 18px;
    color: #f9faf8;
}

.text {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    margin-bottom: -80px;
}

.container2 {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items:center; 
}


p {
  width: 150px; 
  text-align: center; 
}

.orca {
    width: 150px;
    height: 150px;
    border-radius: 20px;
}

.box {
    padding: 50px; 
    
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    background-color: #e5e7eb;
    margin-left: -15px;
    margin-right: -10px; 
}

.container3 {
    width: 700px;
}

.call-to-action {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container4 {
    display: flex; 
    flex-direction: row;
    align-items: center; 
    background-color: #219ebc;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 10px;
}

.sign-up {
    background-color:#1f2937; 
   

}

.text2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 150px;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    margin-left: -10px; 
    margin-right: -10px;
    margin-bottom: -15px;
    padding: 30px;
}

.footer {
    color:#e5e7eb
}